<table class="table">
  <% @users.each do |user| %>
  <tr>
    <td class="column">
      <%= user.id %>
    </td>
    <td class="column">
      <%= user.name %>
    </td>
    <td class="column">
      <%= user.email %>
    </td>
  </tr>
  <% end -%>
</table>
<%=button_to "New", { :action => "new" }, :method => :get %>
